In [1]:
import pandas as pd
import os

amsterdam_wd = pd.read_csv('../AirBnb_UE/amsterdam_weekdays.csv')
amsterdam_wn = pd.read_csv('../AirBnb_UE/amsterdam_weekends.csv')

athens_wd = pd.read_csv('../AirBnb_UE/athens_weekdays.csv')
athens_wn = pd.read_csv('../AirBnb_UE/athens_weekends.csv')

barcelona_wd = pd.read_csv('../AirBnb_UE/barcelona_weekdays.csv')
barcelona_wn = pd.read_csv('../AirBnb_UE/barcelona_weekends.csv')

berlin_wd = pd.read_csv('../AirBnb_UE/berlin_weekdays.csv')
berlin_wn = pd.read_csv('../AirBnb_UE/berlin_weekends.csv')

budapest_wd = pd.read_csv('../AirBnb_UE/budapest_weekdays.csv')
budapest_wn = pd.read_csv('../AirBnb_UE/budapest_weekends.csv')

lisbon_wd = pd.read_csv('../AirBnb_UE/lisbon_weekdays.csv')
lisbon_wn = pd.read_csv('../AirBnb_UE/lisbon_weekends.csv')

london_wd = pd.read_csv('../AirBnb_UE/london_weekdays.csv')
london_wn = pd.read_csv('../AirBnb_UE/london_weekends.csv')

paris_wd = pd.read_csv('../AirBnb_UE/paris_weekdays.csv')
paris_wn = pd.read_csv('../AirBnb_UE/paris_weekends.csv')

rome_wd = pd.read_csv('../AirBnb_UE/rome_weekdays.csv')
rome_wn = pd.read_csv('../AirBnb_UE/rome_weekends.csv')

vienna_wd = pd.read_csv('../AirBnb_UE/vienna_weekdays.csv')
vienna_wn = pd.read_csv('../AirBnb_UE/vienna_weekends.csv')

In [2]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
import pylab as plt
%matplotlib inline
import numpy as np
import umap
import seaborn as sns
import pickle

from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler, MinMaxScaler  # normalizacion
from sklearn.decomposition import PCA    # PCA
from sklearn.datasets import load_boston
from sklearn.linear_model import LogisticRegression            # clasificar, logistic regression model   
from sklearn.preprocessing import StandardScaler               # standarized
from sklearn.preprocessing import LabelEncoder               
from sklearn.model_selection import train_test_split as tts    # split data into train and test sets
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse  # error cuadratico medio
from sklearn.metrics import mean_absolute_error as mae  # estos alias tmb son cosa mia
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression            # logistic regression model  
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score as prec
from sklearn.metrics import recall_score as rec
from sklearn.metrics import f1_score as f1
from sklearn.metrics import confusion_matrix as cm
from sklearn.ensemble import RandomForestRegressor as RFR    # el modelo , el alias es cosa mia
from sklearn.datasets import load_diabetes   # dataset
from sklearn.datasets import load_iris

In [3]:
#COLUMNS
#Si una propiedad tiene un valor de attr_index_norm alto, eso significa que hay muchas atracciones turísticas cercanas 
#Un alto valor de rest_index_norm indica que hay muchos restaurantes cercanos
#RealSum

In [4]:
amsterdam_wd = amsterdam_wd.assign(city="Amsterdam")
amsterdam_wn = amsterdam_wn.assign(city="Amsterdam")

# Añadir una nueva columna con el tipo de día correspondiente
amsterdam_wd = amsterdam_wd.assign(day_type="wd")
amsterdam_wn = amsterdam_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
amsterdam = pd.concat([amsterdam_wd, amsterdam_wn], axis=0)

# Resetear el índice del DataFrame resultante
amsterdam = amsterdam.reset_index(drop=True)

In [5]:
athens_wd = amsterdam_wd.assign(city="Athens")
athens_wn = amsterdam_wn.assign(city="Athens")

# Añadir una nueva columna con el tipo de día correspondiente
athens_wd = athens_wd.assign(day_type="wd")
athens_wn = athens_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
athens = pd.concat([athens_wd, athens_wn], axis=0)

# Resetear el índice del DataFrame resultante
athens = athens.reset_index(drop=True)

In [6]:
barcelona_wd = barcelona_wd.assign(city="Barcelona")
barcelona_wn = barcelona_wn.assign(city="Barcelona")

# Añadir una nueva columna con el tipo de día correspondiente
barcelona_wd = barcelona_wd.assign(day_type="wd")
barcelona_wn = barcelona_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
barcelona = pd.concat([barcelona_wd, barcelona_wn], axis=0)

# Resetear el índice del DataFrame resultante
barcelona = barcelona.reset_index(drop=True)

In [7]:
berlin_wd = berlin_wd.assign(city="Berlin")
berlin_wn = berlin_wn.assign(city="Berlin")

# Añadir una nueva columna con el tipo de día correspondiente
berlin_wd = berlin_wd.assign(day_type="wd")
berlin_wn = berlin_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
berlin = pd.concat([berlin_wd, berlin_wn], axis=0)

# Resetear el índice del DataFrame resultante
berlin = berlin.reset_index(drop=True)

In [8]:
budapest_wd = budapest_wd.assign(city="Budapest")
budapest_wn = budapest_wn.assign(city="Budapest")

# Añadir una nueva columna con el tipo de día correspondiente
budapest_wd = budapest_wd.assign(day_type="wd")
budapest_wn = budapest_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
budapest = pd.concat([budapest_wd, budapest_wn], axis=0)

# Resetear el índice del DataFrame resultante
budapest = budapest.reset_index(drop=True)

In [9]:
lisbon_wd = lisbon_wd.assign(city="Lisbon")
lisbon_wn = lisbon_wn.assign(city="Lisbon")

# Añadir una nueva columna con el tipo de día correspondiente
lisbon_wd = lisbon_wd.assign(day_type="wd")
lisbon_wn = lisbon_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
lisbon = pd.concat([lisbon_wd, lisbon_wn], axis=0)

# Resetear el índice del DataFrame resultante
lisbon = lisbon.reset_index(drop=True)

In [10]:
london_wd = london_wd.assign(city="London")
london_wn = london_wn.assign(city="London")

# Añadir una nueva columna con el tipo de día correspondiente
london_wd = london_wd.assign(day_type="wd")
london_wn = london_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
london = pd.concat([london_wd, london_wn], axis=0)

# Resetear el índice del DataFrame resultante
london = london.reset_index(drop=True)

In [11]:
paris_wd = paris_wd.assign(city="Paris")
paris_wn = paris_wn.assign(city="Paris")

# Añadir una nueva columna con el tipo de día correspondiente
paris_wd = paris_wd.assign(day_type="wd")
paris_wn = paris_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
paris = pd.concat([paris_wd, paris_wn], axis=0)

# Resetear el índice del DataFrame resultante
paris = paris.reset_index(drop=True)

In [12]:
rome_wd = rome_wd.assign(city="Rome")
rome_wn = rome_wn.assign(city="Rome")

# Añadir una nueva columna con el tipo de día correspondiente
rome_wd = rome_wd.assign(day_type="wd")
rome_wn = rome_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
rome = pd.concat([rome_wd, rome_wn], axis=0)

# Resetear el índice del DataFrame resultante
rome = rome.reset_index(drop=True)

In [13]:
vienna_wd= vienna_wd.assign(city="Vienna")
vienna_wn = vienna_wn.assign(city="Vienna")

# Añadir una nueva columna con el tipo de día correspondiente
vienna_wd = vienna_wd.assign(day_type="wd")
vienna_wn = vienna_wn.assign(day_type="wn")

# Concatenar ambos DataFrames en uno solo
vienna = pd.concat([vienna_wd, vienna_wn], axis=0)

# Resetear el índice del DataFrame resultante
vienna = vienna.reset_index(drop=True)

In [14]:
airbnb = pd.concat([amsterdam, athens, barcelona, berlin, budapest, lisbon, london, paris, rome, vienna])


airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48507 entries, 0 to 3536
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  48507 non-null  int64
 1   realSum                     48507 non-null  float64
 2   room_type                   48507 non-null  object
 3   room_shared                 48507 non-null  bool
 4   room_private                48507 non-null  bool
 5   person_capacity             48507 non-null  float64
 6   host_is_superhost           48507 non-null  bool
 7   multi                       48507 non-null  int64
 8   biz                         48507 non-null  int64
 9   cleanliness_rating          48507 non-null  float64
 10  guest_satisfaction_overall  48507 non-null  float64
 11  bedrooms                    48507 non-null  int64
 12  dist                        48507 non-null  float64
 13  metro_dist                  48507 non-null  float64
 14  attr_index                  48507 non-null  float64
 15  attr_index_norm             48507 non-null  float64
 16  rest_index                  48507 non-null  float64
 17  rest_index_norm             48507 non-null  float64
 18  lng                         48507 non-null  float64
 19  lat                         48507 non-null  float64
 20  city                        48507 non-null  object
 21  day_type                    48507 non-null  object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 7.5+ MB

In [15]:
airbnb.city.unique()

array(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Budapest', 'Lisbon',
       'London', 'Paris', 'Rome', 'Vienna'], dtype=object)

In [16]:
airbnb = airbnb.drop('Unnamed: 0', axis=1)

In [17]:
airbnb.to_csv("airbnb.csv", index=False)

In [19]:
airbnb.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam,wd
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam,wd
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam,wd
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam,wd
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam,wd

In [ ]:
#%pip install googlemaps

In [ ]:
%pip install cachetools

In [ ]:
from cachetools import LRUCache

cache = LRUCache(maxsize=1000)

In [ ]:
import googlemaps


gmaps = googlemaps.Client(key='AIzaSyAkLDXGAa9q0PxCumqHg3JV8X_aAMa-gBM')

In [ ]:
from tqdm import tqdm

# Definir una función para obtener el barrio a partir de la latitud y longitud
def get_barrio(lat, lng):
    # Obtener los resultados de geocodificación inversa para la ubicación dada
    results = gmaps.reverse_geocode((lat, lng))

    # Buscar el componente que tiene el tipo de "neighborhood" o "sublocality"
    for component in results[0]['address_components']:
        if 'neighborhood' in component['types'] or 'sublocality' in component['types']:
            return component['long_name']

    # Si no se encuentra el componente, devolver una cadena vacía
    return ''

In [ ]:

#tqdm.pandas()
#airbnb['barrio'] = airbnb.progress_apply(lambda row: get_barrio(row['lat'], row['lng']), axis=1)

In [ ]:
airbnb['barrio'].unique()

In [ ]:
airbnb.to_csv('airbnbarrio.csv', index=False)

In [ ]:
airbnb.tail()