In [3]:
#%pip install geopandas
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import geopandas as gpd

Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 13.3 MB/s eta 0:00:00
Collecting shapely>=1.7
  Downloading shapely-2.0.1-cp39-cp39-win_amd64.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 12.5 MB/s eta 0:00:00
Collecting fiona>=1.8
  Downloading Fiona-1.9.1-cp39-cp39-win_amd64.whl (22.0 MB)
     --------------------------------------- 22.0/22.0 MB 19.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.0 in c:\users\pedro vidales\anaconda3\lib\site-packages (from geopandas) (1.4.4)
Requirement already satisfied: packaging in c:\users\pedro vidales\anaconda3\lib\site-packages (from geopandas) (21.3)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-win_amd64.whl (4.8 MB)
     ---------------------------------------- 4.8/4.8 MB 25.9 MB/s eta 0:00:00
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in c:\users\pedro vidales\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (63.4.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pedro vidales\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in c:\users\pedro vidales\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2022.9.14)
Requirement already satisfied: click~=8.0 in c:\users\pedro vidales\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pedro vidales\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pedro vidales\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro vidales\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2022.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\pedro vidales\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.9)
Requirement already satisfied: colorama in c:\users\pedro vidales\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8->geopandas) (0.4.5)
Requirement already satisfied: six in c:\users\pedro vidales\anaconda3\lib\site-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Installing collected packages: shapely, pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.1 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1 shapely-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
neighbourhoods_gdf = gpd.read_file('../madrid/neighbourhoods.geojson')

In [7]:
calendar_madrid = pd.read_csv('../madrid/calendar/calendar.csv')
listings_madrid = pd.read_csv('../madrid/listings/listings.csv')
listings_detailed_madrid = pd.read_csv('../madrid/listings_detailed/listings_detailed.csv', low_memory=False)
neighbourhoods_madrid = pd.read_csv('../madrid/neighbourhoods.csv')
reviews_madrid = pd.read_csv('../madrid/reviews/reviews.csv')
reviews_detailed_madrid = pd.read_csv('../madrid/reviews_detailed/reviews_detailed.csv')

In [44]:
neighbourhoods_gdf.head()

,neighbourhood,neighbourhood_group,geometry
0,Palacio,Centro,"MULTIPOLYGON (((-3.70584 40.42030, -3.70625 40..."
1,Embajadores,Centro,"MULTIPOLYGON (((-3.70384 40.41432, -3.70277 40..."
2,Cortes,Centro,"MULTIPOLYGON (((-3.69796 40.41929, -3.69645 40..."
3,Justicia,Centro,"MULTIPOLYGON (((-3.69546 40.41898, -3.69645 40..."
4,Universidad,Centro,"MULTIPOLYGON (((-3.70107 40.42134, -3.70155 40..."

##### ANALIZAMOS LOS ARCHIVOS Y BUSCAMOS DUPLICADOS Y VALORES NULOS UNO POR UNO

In [19]:
if calendar_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [20]:
if listings_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [22]:
if listings_detailed_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [23]:
if neighbourhoods_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

##### EN EL ARCHIVO REVIEWS_MADRID EXISTEN DUPLICADOS, LOS ELIMINAMOS.

In [24]:
if reviews_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

Hay duplicados en el dataframe

In [29]:
reviews_madrid = reviews_madrid.drop_duplicates()

In [30]:
#COMPROBAMOS

if reviews_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [25]:
if reviews_detailed_madrid.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [31]:
# MIRAMOS LOS VALORES NULOS POR ARCHIVO

In [32]:
if calendar_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

No hay valores nulos en el dataframe

In [33]:
if listings_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

Hay valores nulos en el dataframe

In [34]:
if listings_detailed_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

Hay valores nulos en el dataframe

In [35]:
if neighbourhoods_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

No hay valores nulos en el dataframe

In [36]:
if reviews_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

No hay valores nulos en el dataframe

In [37]:
if reviews_detailed_madrid.isnull().any().any():
    print("Hay valores nulos en el dataframe")
else:
    print("No hay valores nulos en el dataframe")

Hay valores nulos en el dataframe

##### TENEMOS TRES ARCHIVOS CON VALORES NULOS:  listings_madrid, listings_detailed_madrid y reviews_detailed_madrid.
##### VAMOS A ESTUDIARLOS UNO POR UNO Y A DECIDIR SI ELIMINAR LAS FILAS CON VALORES NULOS O RELLENAR ESOS VALORES CON INFORMACIÓN ÚTIL

In [ ]:
#listings_madrid

In [40]:
nulos_por_columna_listings = listings_madrid.isnull().sum()
nulos_por_columna_listings

id                                   0
name                                 5
host_id                              0
host_name                           15
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       4654
reviews_per_month                 4654
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [ ]:
#listings_detailed_madrid

In [43]:
nulos_por_columna_listings_detailed_madrid = listings_detailed_madrid.isnull().sum()
nulos_por_columna_listings_detailed_madrid

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
name                                               5
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               4654
Length: 106, dtype: int64

In [ ]:
#reviews_detailed_madrid

In [42]:
nulos_por_columna_reviews_detailed_madrid = reviews_detailed_madrid.isnull().sum()
nulos_por_columna_reviews_detailed_madrid

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      1
comments         300
dtype: int64

In [46]:
listings_detailed_madrid.shape

(20837, 106)