In [1]:
import pandas as pd
import numpy as np 
import os 
from googletrans import Translator
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import warnings
warnings.filterwarnings('ignore')

In [2]:
vader = pd.read_csv('../madrid/reviews_detailed/vader.csv')
sas = pd.read_csv('../madrid/reviews_detailed/sas.csv')

In [3]:
vader.head()

,listing_id,id,date,reviewer_id,comments,idiomas,comments_short,neg,neu,pos,compound
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,arturo ultimate location step bus line want vi...,0.000,0.623,0.377,0.9201
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,plan stay arturo week plan change arturo open ...,0.025,0.357,0.618,0.9953
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,great time arturo cosy apartment wonderful ter...,0.000,0.314,0.686,0.9201
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,enjoy stay wonderful room bath great apartment...,0.000,0.340,0.660,0.9698
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,polite friendly host provide pleasant convenie...,0.000,0.480,0.520,0.7579

In [4]:
vader["negativo"] = vader.apply(lambda row: 1 if row["neg"] > row["pos"] else 0, axis=1)
vader["positivo"] = vader.apply(lambda row: 1 if row["pos"] > row["neg"] else 0, axis=1)

In [5]:
vader.head()

,listing_id,id,date,reviewer_id,comments,idiomas,comments_short,neg,neu,pos,compound,negativo,positivo
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,arturo ultimate location step bus line want vi...,0.000,0.623,0.377,0.9201,0,1
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,plan stay arturo week plan change arturo open ...,0.025,0.357,0.618,0.9953,0,1
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,great time arturo cosy apartment wonderful ter...,0.000,0.314,0.686,0.9201,0,1
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,enjoy stay wonderful room bath great apartment...,0.000,0.340,0.660,0.9698,0,1
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,polite friendly host provide pleasant convenie...,0.000,0.480,0.520,0.7579,0,1

In [7]:
vader.drop(columns=["comments_short", "neg", "neu", "pos", "compound"], inplace=True)

In [9]:
vader.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,0,1
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,0,1
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,0,1
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,0,1
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,0,1

In [10]:
sas.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo
0,21853,21051116,2014-10-10,8506071,"mi experiencia en casa de adel fue buena, aunq...",es,0,1
1,21853,22684525,2014-11-11,23357657,"adel fue muy amable, incluso el da de mi llega...",es,0,1
2,21853,22871843,2014-11-16,4072731,abdel ha sido un magnfico anfitrin y la mejor ...,es,0,1
3,21853,67517337,2016-03-29,41033831,he pasado 6 semanas con adel y nati que fueron...,es,0,1
4,21853,77404357,2016-05-31,3244177,"la piso de abdel y nati es un hogar, una famil...",es,0,1

In [8]:
sas.drop(columns=["comments_short", "sentiment"], inplace=True)

In [11]:
rev = pd.concat([vader, sas], ignore_index=True)

        listing_id         id        date  reviewer_id  \
0             6369      29428  2010-03-14        84790
1             6369      31018  2010-03-23        84338
2             6369      34694  2010-04-10        98655
3             6369      37146  2010-04-21       109871
4             6369      38168  2010-04-26        98901
...            ...        ...         ...          ...
606137    38481693  527926296  2019-09-12     74878787
606138    38489965  530804918  2019-09-16    254476874
606139    38518053  528467518  2019-09-13    293898087
606140    38540008  529709564  2019-09-15     41521084
606141    38545192  529687178  2019-09-15     85999891

                                                 comments idiomas  negativo  \
0       simon and arturo have the ultimate location in...      en         0
1       myself and kristy originally planned on stayin...      en         0
2       we had a great time at arturo and simon's ! a ...      en         0
3       i very much enjoyed the stay.  \r\nit's a wond...      en         0
4       arturo and simon are polite and friendly hosts...      en         0
...                                                   ...     ...       ...
606137  ha sido una experencia inolvidable, el mejor a...      es         0
606138  ha sido un fin de semana inmejorable, desde lu...      es         0
606139  mi estancia fue corta pero la verdad que estuv...      es         0
606140  un piso limpio y acogedor, ideal para parejas....      es         0
606141  beatriz es una persona muy agradable,  muy ate...      es         0

        positivo
0              1
1              1
2              1
3              1
4              1
...          ...
606137         1
606138         1
606139         1
606140         1
606141         1

[606142 rows x 8 columns]

In [13]:
rev.shape

(606142, 8)

In [14]:
rev.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606142 entries, 0 to 606141
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   listing_id   606142 non-null  int64
 1   id           606142 non-null  int64
 2   date         606142 non-null  object
 3   reviewer_id  606142 non-null  int64
 4   comments     606142 non-null  object
 5   idiomas      606142 non-null  object
 6   negativo     606142 non-null  int64
 7   positivo     606142 non-null  int64
dtypes: int64(5), object(3)
memory usage: 271.7 MB

In [17]:
if rev.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [19]:
rev.to_csv('../madrid/reviews_detailed/rev_en_es.csv', index=False)

In [20]:
# Seleccionamos las filas correspondientes a un listing_id espec√≠fico (21853 en este caso)
listing_id = 21853
df_listing = rev[rev['listing_id'] == listing_id]

# Seleccionamos las columnas que deseamos ver (comments, negativo y positivo)
df_listing_comments = df_listing[['comments', 'negativo', 'positivo']]

df_listing_comments

                                                 comments  negativo  positivo
63       adel is a very warm person and thoughtful! he...         0         1
64      adel is an exceptionally welcoming host. i was...         0         1
65      adel is a very warm person. actually, it was f...         0         1
66      adel and nati(another flatmate) are very warm ...         0         1
67      very pleasant journey in this apartment.\never...         0         1
68      adel was very friendly and helpful. adel let m...         0         1
69      adel was a great host. the room was actually b...         0         1
70      the place was very good for the price. adel is...         0         1
71      living here felt like home. i was included in ...         0         1
72      i really enjoyed my stay at abdels and natis p...         0         1
73      friendly host, clean and quiet apartment, clos...         0         1
74      i stayed with abdel and nati for 18 days. they...         0         1
75      adel and nati  have been the most welcoming ho...         0         1
76      abdel was very thoughtful and attentive as a h...         0         1
77      abdel was a really nice host for the past mont...         0         1
78      i had a good time staying at abdel's. he is a ...         0         1
79      abdel is a very nice guy, and ready to help wi...         0         1
350297  mi experiencia en casa de adel fue buena, aunq...         0         1
350298  adel fue muy amable, incluso el da de mi llega...         0         1
350299  abdel ha sido un magnfico anfitrin y la mejor ...         0         1
350300  he pasado 6 semanas con adel y nati que fueron...         0         1
350301  la piso de abdel y nati es un hogar, una famil...         0         1
350302  fue mi primera experiencia con airbnb y no pue...         0         1
350303  una agradable estancia y con aprendizajes de c...         0         1
350304  lugar tranquilo y apacible. cerca a la estacin...         0         1
350305  abdel es muy simptico y se puede conversar con...         0         1
350306  abdel es muy amable! \ntodo perfecto! la casa ...         0         1
350307                             muy buen alojamiento!          0         1
350308  abdel es muy buen anfitrin, est atento y dispo...         0         1

In [21]:
rev['total_positivo'] = rev.groupby('listing_id')['positivo'].transform('sum')
rev['total_negativo'] = rev.groupby('listing_id')['negativo'].transform('sum')

In [22]:
rev.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo,total_positivo,total_negativo
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,0,1,60,3
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,0,1,60,3
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,0,1,60,3
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,0,1,60,3
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,0,1,60,3

In [23]:
if rev.duplicated().any():
    print("Hay duplicados en el dataframe")
else:
    print("No hay duplicados en el dataframe")

No hay duplicados en el dataframe

In [24]:
rev.to_csv('../madrid/reviews_detailed/rev_definitivo.csv', index=False)

In [25]:
rev.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606142 entries, 0 to 606141
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      606142 non-null  int64
 1   id              606142 non-null  int64
 2   date            606142 non-null  object
 3   reviewer_id     606142 non-null  int64
 4   comments        606142 non-null  object
 5   idiomas         606142 non-null  object
 6   negativo        606142 non-null  int64
 7   positivo        606142 non-null  int64
 8   total_positivo  606142 non-null  int64
 9   total_negativo  606142 non-null  int64
dtypes: int64(7), object(3)
memory usage: 280.9 MB

In [26]:
rev.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo,total_positivo,total_negativo
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,0,1,60,3
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,0,1,60,3
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,0,1,60,3
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,0,1,60,3
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,0,1,60,3

In [27]:
rev['total_comments'] = rev['total_positivo'] + rev['total_negativo']

In [28]:
rev.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo,total_positivo,total_negativo,total_comments
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,0,1,60,3,63
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,0,1,60,3,63
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,0,1,60,3,63
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,0,1,60,3,63
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,0,1,60,3,63

In [29]:
rev['ratio_positivo'] = rev['total_positivo'] / rev['total_comments']
rev['ratio_negativo'] = rev['total_negativo'] / rev['total_comments']

In [30]:
rev.head()

,listing_id,id,date,reviewer_id,comments,idiomas,negativo,positivo,total_positivo,total_negativo,total_comments,ratio_positivo,ratio_negativo
0,6369,29428,2010-03-14,84790,simon and arturo have the ultimate location in...,en,0,1,60,3,63,0.952381,0.047619
1,6369,31018,2010-03-23,84338,myself and kristy originally planned on stayin...,en,0,1,60,3,63,0.952381,0.047619
2,6369,34694,2010-04-10,98655,we had a great time at arturo and simon's ! a ...,en,0,1,60,3,63,0.952381,0.047619
3,6369,37146,2010-04-21,109871,i very much enjoyed the stay. \r\nit's a wond...,en,0,1,60,3,63,0.952381,0.047619
4,6369,38168,2010-04-26,98901,arturo and simon are polite and friendly hosts...,en,0,1,60,3,63,0.952381,0.047619

In [32]:
rev.groupby('listing_id').mean()[['ratio_positivo','ratio_negativo']]

            ratio_positivo  ratio_negativo
listing_id
6369              0.952381        0.047619
21853             1.000000        0.000000
24805             1.000000        0.000000
24836             1.000000        0.000000
26825             0.973684        0.026316
...                    ...             ...
38593197          0.000000        1.000000
38602421          1.000000        0.000000
38618159          0.000000        1.000000
38674740          0.000000        1.000000
38698095          0.000000        1.000000

[15895 rows x 2 columns]

In [33]:
rev.shape

(606142, 13)