In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import warnings
warnings.filterwarnings('ignore')

In [2]:
rev = pd.read_csv('../madrid/reviews_detailed/reviews_detailed.csv')

In [3]:
rev.dropna(axis=0, inplace=True)
rev.reset_index(drop=True, inplace=True)

In [4]:
rev.date=pd.to_datetime(rev.date, format='%Y-%m-%d')

In [5]:
sia = SentimentIntensityAnalyzer()

# Obtener el primer comentario de la columna "comments"
primer_comentario = rev["comments"].iloc[0]

# Analizar el sentimiento del comentario utilizando VADER
sentimiento = sia.polarity_scores(primer_comentario)

# Imprimir el resultado
print(sentimiento)

{'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'compound': 0.9523}

In [6]:
rev["comments"][0]

'Simon and Arturo have the ultimate location in Madrid!  Steps from the Metro and bus line to everywhere you want to visit.  The accomodations are clean, well appointed and fantastic views of Madrid skyline.  We felt like it was a spa when walking into the flat.  We were greeted warmly and offered lots of information to get up and running for our short stay.  We wished we could have stayed longer and we highly recommend this location and neighborhood.'

In [ ]:
import os.path

# Dividir los datos en paquetes de 1000 filas
tamano_paquete = 1000
num_paquete = 0
for inicio in range(0, len(rev), tamano_paquete):
    fin = inicio + tamano_paquete
    paquete = rev.iloc[inicio:fin]

    # Analizar el sentimiento de cada comentario en el paquete
    sia = SentimentIntensityAnalyzer()
    paquete['sentimiento'] = paquete['comments'].apply(lambda comentario: sia.polarity_scores(comentario))

    # Guardar el paquete en un archivo separado
    nombre_archivo = f'paquete_{num_paquete}.csv'
    if not os.path.exists(nombre_archivo):
        paquete.to_csv(nombre_archivo, index=False)
    else:
        paquete.to_csv(nombre_archivo, mode='a', header=False, index=False)
    num_paquete += 1

In [7]:
import pandas as pd
import glob

# Ruta donde se encuentran los archivos CSV
path = r'C:/Users/Pedro Vidales/Desktop/Proyecto-Final_/main/paquetes/*.csv'

# Lee todos los archivos CSV y crea un dataframe para cada uno
all_files = glob.glob(path)
df_list = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df_list.append(df)

# Concatena los dataframes en uno solo
rev_paquetes = pd.concat(df_list, axis=0, ignore_index=True)

# Muestra el resultado
rev_paquetes.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments,sentimiento
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...,"{'neg': 0.0, 'neu': 0.779, 'pos': 0.221, 'comp..."
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...,"{'neg': 0.017, 'neu': 0.609, 'pos': 0.374, 'co..."
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...,"{'neg': 0.0, 'neu': 0.612, 'pos': 0.388, 'comp..."
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r\nIt's a wond...,"{'neg': 0.0, 'neu': 0.636, 'pos': 0.364, 'comp..."
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...,"{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp..."

In [9]:
rev_paquetes.to_csv('../madrid/reviews_detailed/rev_paquetes.csv', index=False)